<%- include('./partials/header') -%>
<body>
    <h1>School Management System</h1>
    <button onclick="location.href='parent'"> Add Parent</button>
    <button onclick="location.href='student'"> Add Student</button>
    <button onclick="location.href='teacher'">Add Teacher</button>
    <button onclick="location.href='grade'">Add Grade</button>
    
</body>
</html>