<%- include('./partials/header') -%>
<body>
    <h1>Student Form</h1>
    <form action="student" method="post">       
        <%- include('./partials/inputfield') -%>
        <input type="text" name="" id="" >
        <button>Next</button>
    </form>

</body>
</html>